/* Change title color. */
h1 {
  color: #2573BA !important;
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif  !important;
  font-weight: 700 !important;
  line-height: 1.1 !important;
}

.well {
  /* background: rgb(78,161,211);*/
  /* background: linear-gradient(90deg, rgba(78,161,211,1) 0%, rgba(60,167,189,1) 29%); */
  border-color: #7CCCE5 !important;
  color: black !important;
  background-color: white !important;
  -webkit-box-shadow: 0 0 5px 1px lightgrey !important;
  -moz-box-shadow: 0 0 5px 1px lightgrey !important;
  box-shadow: 0 0 5px 1px lightgrey !important;
}

.btn-default {
  background-color: #008cba !important;
  color: #ffffff !important;
  border-color: #0079a1 !important;
}

/* Change hover color for buttons. */
.btn-default:hover {
  background-color: #006687 !important;
}

/* Change the appearance of dropdowns (selecInput). */
.selectize-input .item, .selectize-dropdown .option {
  font-size: 12px;
} 

#browserModal .modal-dialog,
#browserModal .modal-body,
#browserModal .modal-footer {
  background-color: #CF000F;
  border-color: #CF000F;
  color: white;
  font-size: 20px;
}

#sortable_agg,
#sortable1, 
#blocks,
#block {
list-style-type: none;
margin: 0;
padding-bottom: 2px;
}

.droppable_blocks li {
  padding-top:3px;
  padding-bottom:7px;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
  list-style-type: none;
  padding-bottom: 2px;
}

#sortable_agg li, 
.all_blocks li,
#block li,
#row_blocks_2 li,
.droppable_blocks li {
border: 1px solid lightgray;
border-radius: 15px;
margin-bottom: 2px;
padding-left: 3px;
text-align: center;
}

#sortable_agg:hover,
.all_blocks li:hover {
cursor: grab;
}

#sortable_agg .ui-sortable-helper:hover, 
.all_blocks .ui-sortable-helper:hover {
background-color: #ddd;
border-color: black;
}

#sortable_agg .ui-sortable-helper:hover, 
.all_blocks .ui-sortable-helper:hover {
cursor: grabbing;
}

.droppable_agg,
.droppable_blocks {
border: 2px dashed #466683;
padding: 1em;
min-height: 200px;
}


.droppable_blocks {
border-right: none;
}

#droppable_agg.ui-droppable-hover {
background: #bad4ed;
}

#droppable_blocks.ui-droppable-hover {
background: #bad4ed;
}

#droppable_agg select {
margin: 5px;
}

#table_generator-COLUMN {
   width: 100%; 
   text-align:center; 
   font-size: 30px;
}

.drop_area {
  border: 1px solid lightgray;
  padding: 5px;
  margin-bottom: 3px;
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: space-between;
}

.delete {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 10px;
  margin: 3px;
  font-family: Lato, sans-serif;
  cursor: pointer;
  float: right;
  display: inline-block;
}

button:hover {
  color: #CF2323;
}

.rowPallette {
  max-height: 300px;
  overflow-y: scroll;
}

#RECIPE {
  width: 100%;
  text-align: center;
}

label[for=table_generator-COLUMN] {
  text-align: center;
  width: 100%;
}

#download_type {
  margin: 0 auto;
  display: block;
}

.downloadButton {
border: none;
text-align: center;
}

.control-label {
font-size: 13px;
}

/* Button to upload new dataset. */
#add_files { 
float: right; 
vertical-align: right; 
margin-top: 6px;
font-size: 13px;
font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#download-type {
  background-color: red;
}

#download-type .btn-group>.btn:first-child {
  background-color: blue;
}

.dropdown-select {
  width: 4em;
  padding-right:100px;
  margin-right:100px;
}

.block {
  z-index: 999;
}

.accordion {
background-color: #008cba;
color: white;
width: 90%;
margin: 10px auto 0;
padding: 5px 20px;
border-radius: 10px;
display:flex;
}

.accordion:hover{
cursor: pointer;
}

/* Main accordion title 
========================================================================== */
.accordion h1{
display: inline;
font-weight: 100;
}

/* Main accordion arrow 
========================================================================== */
.accordion button{
float: right;
font-size: 20px;
background-color: transparent;
border-style: none;
outline: none;
padding-left: 10px;
}


/* Accordion dropdown panel
========================================================================== */
.accordion-panel{
margin: 0 auto;
padding: 10px 15px;
min-width: 80%;
max-width: 85%;
border-width: 2px;
background-color: #fafafad4;
border-color: #e3e3e3;
border-style: solid;
border-top: none;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
}

/* Rotate class for dropdown button
========================================================================== */

.rotate {
-moz-transition: all .5s linear;
-webkit-transition: all .5s linear;
transition: all .5s linear;
}

.rotate.up {
-moz-transform:rotate(180deg);
-webkit-transform:rotate(180deg);
transform:rotate(180deg);
}