.vis-item.DS { 
  background-color: #B3E2CD; 
  border-color: #B3E2CD; 
}

.vis-item.CM { 
  background-color: #FDCDAC;
  border-color: #FDCDAC;
}

.vis-item.AE { 
  background-color: #CBD5E8; 
  border-color: #CBD5E8; 
}

.vis-item.LB { 
  background-color: #F4CAE4; 
  border-color: #F4CAE4; 
}

.vis-item.LC { 
  background-color: #E6F5C9; 
  border-color: #E6F5C9; 
}

.vis-item.MH_MH {
  background-color: #FFF2AE; 
  border-color: #FFF2AE; 
}

.vis-item.MH_FDH { 
  background-color: #F1E2CC; 
  border-color: #F1E2CC; 
}

.vis-item.MH_DH { 
  background-color: #CCCCCC; 
  border-color: #CCCCCC; 
}

.vis-item.MH_LC { 
  background-color: #E3E1E1; 
  border-color: #E3E1E1; 
}

.vis-group .vis-item.vis-point {
  background: none;
}